<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{../../static/css/footer.css}" href="../../static/css/footer.css">
</head>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>SIW Movie</h4>
                <p>Progetto assegnato dal docente per il corso di Sistemi Informativi su Web</p>
            </div>
            <div class="col-sm-4">
                <h4>Link Utili</h4>
                <ul class="list-unstyled">
                    <li><a href="#" onClick="downloadFile('https://www.italolive.it/assets/uploads/api/ilfoglio.pdf')">Traccia</a>
                    </li>
                    <li><a href="#">Class Diagram</a></li>
                </ul>
            </div>

            <div class="col-sm-4">
                <h4>Progetto</h4>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-facebook fa-lg"></i> Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
