<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artista</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container">
    <div class="row" th:if="${artist}">
        <div class="col-md-6 col-md-offset-3">
            <div class="artist-info">
                <h2 th:text="${artist.name} + ' ' + ${artist.surname}">Artista</h2>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Data di nascita:</strong>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${#temporals.format(artist.dateOfBirth, 'dd/MM/yyyy')}">Data di nascita</span>
                    </div>
                </div>
                <div class="row" th:if="${artist.dateOfDeath != null}">
                    <div class="col-md-4">
                        <strong>Data di morte:</strong>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${#temporals.format(artist.dateOfDeath, 'dd/MM/yyyy')}">Data di morte Artista</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <img th:src="${image}" style="max-width: 100%" alt="..." src="">
                    </div>
                    <div class="col-md-8" th:unless="${image}">
                        <p>Nessuna foto presente.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <a th:href="@{'/artist/edit/'+ ${artist.id}}" class="btn btn-primary">Modifica artista</a>
                    </div>
                    <div class="col-md-4">
                        <form th:action="@{/artist/delete}" method="post" th:object="${artist}">
                            <input type="hidden" th:field="*{id}"/>
                            <button type="submit" class="btn btn-danger" id="deleteEntity">Elimina</button>
                        </form>
                    </div>
                </div>
                <div><br> <br> <br></div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/delete.js"></script>

</body>
</html>
