<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Inserisci un nuovo Artista</title>
</head>
<header th:replace="~{fragments/header :: header}"></header>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>Inserisci un nuovo Artista</h3>
            <form th:action="@{/newArtist}" method="POST" th:object="${artist}">
                <div>
                    <span th:text="${errorMessage}">Errore</span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input type="text" class="form-control" id="name" placeholder="Nome"
                                   th:field="${artist.name}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="surname">Cognome:</label>
                            <input type="text" class="form-control" id="surname" placeholder="Cognome"
                                   th:field="${artist.surname}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="birthDate">Data di nascita:</label>
                            <input type="date" class="form-control" id="birthDate" th:field="${artist.dateOfBirth}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="deathDate">Data di morte:</label>
                            <input type="date" class="form-control" id="deathDate" th:field="${artist.dateOfDeath}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cover">Allega una foto:</label>
                    <input type="file" class="form-control-file" id="cover" accept="image/*">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-submit">Salva</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
