<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIW Movie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>


<!-- HEADER -->
<header th:replace="~{fragments/header :: header}"></header>

<body>

<div class="home-div">
    <h1 class="home-tile-text">SIW Movie</h1>
    <hr class="home-divider">
    <p class="home-subtitle-text">Vota i tuoi film preferiti!</p>
</div>
<div class="home-div-last-created">
    <h2>Title</h2>
    <div class="row">
        <div class="card">
            <img src="../static/images.jpg">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
    </div>
</div>
<div class="home-div">
    <h2>Title</h2>
    <div class="row">
        <div class="card">
            <img src="../static/images.jpg">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg" alt="...">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg" alt="...">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg" alt="">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
        <div class="card">
            <img src="../static/images.jpg" alt="">
            <h3 class="card-title">Titolo</h3>
            <p class="card-subtitle">Voto</p>
        </div>
    </div>
</div>

</body>
<!-- FOOTER -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</html>
