<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Film</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container-fluid">
    <div class="row" th:if="${movie}">
        <div class="col-md-6 col-md-offset-3">
            <div class="movie-info">
                <h2><span th:text="${movie.title}"></span> (<span th:text="${movie.year}"></span>)</h2>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Voto:</strong>
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <span><strong>Regista: </strong></span>
                    </div>
                    <div class="col-md-4">
                        <a th:if="${movie.director != null}" th:href="@{'/artist/' + ${movie.director.id}}">
                            <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}"></span>
                        </a>
                        <span th:unless="${movie.director != null}"> Nessun regista impostato</span>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" th:href="@{'/admin/addDirector/'+ ${movie.id}}"
                           th:text="${movie.director != null ? 'Modifica Regista' : 'Aggiungi Regista'}">Aggiungi/Modifica
                            Regista</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <strong>Attori:</strong>
                    </div>
                    <div class="col-md-4">
                        <span th:if="${movie.actors.size() == 0}"> Nessun attore impostato</span>
                        <table th:unless="${movie.actors.size() == 0}">
                            <tbody>
                            <tr th:each="actor : ${movie.actors}">
                                <td>
                                    <a th:href="@{'/artist/' + ${actor.id}}">
                                        <span th:text="${actor.name} + ' ' + ${actor.surname}"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" th:href="@{'/admin/updateActors/'+ ${movie.id}}"
                           th:text="${movie.actors.size() == 0 ? 'Aggiungi Attori' : 'Modifica Attori'}">Aggiungi/Modifica
                            Attori</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <img th:src="${movie.getCover().generateHtmlSource()}" style="max-width: 100%" alt="Copertina">
                    </div>
                </div>
                <hr>
                <div th:if="${movie.images.size() > 0}" id="carouselExample" class="carousel slide"
                     data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="https://via.placeholder.com/800x400?text=Slide+1" alt="Slide 1">
                        </div>
                        <div class="item">
                            <img src="https://via.placeholder.com/800x400?text=Slide+2" alt="Slide 2">
                        </div>
                        <div class="item">
                            <img src="https://via.placeholder.com/800x400?text=Slide+3" alt="Slide 3">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carouselExample" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carouselExample" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
                <hr th:if="${movie.images.size() > 0}">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Recensioni</h3>
                    </div>
                    <div class="col-md-6">
                        <a th:href="@{'/reviewMovie/' + ${movie.id}}" class="btn btn-primary btn-sm pull-right">Aggiungi
                            recensione</a>
                    </div>
                </div>
                <div th:if="${movie.reviews.size() > 0}" th:each="review : ${movie.reviews}" class="reviews-section">
                    <div class="row review-row">
                        <div class="col-md-12">
                            <div class="card-review">
                                <div class="review-first-sub-card">
                                    <h4 th:text="${review.title}" class="review-card-title"></h4>
                                    <p th:each="i : ${#numbers.sequence(1, review.vote)}"
                                       class="fa fa-star checked"></p>
                                    <p th:if="${review.vote} < 5" th:each="i : ${#numbers.sequence(1, 5 - review.vote)}"
                                       class="fa fa-star"></p>
                                </div>
                                <div class="review-second-sub-card">
                                    <p th:text="${review.text}" class="review-text">Testo recensione</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 20px;"></div>
                </div>
                <hr>
                <div class="text-center">
                    <a th:href="@{'/movie/edit/'+ ${movie.id}}" class="btn btn-primary">Modifica Film</a>
                    <form th:action="@{/movie/delete}" method="post" th:object="${movie}">
                        <input type="hidden" th:field="*{id}"/>
                        <button type="submit" class="btn btn-danger" id="deleteEntity">Elimina</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
