<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ricerca Film</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container mt-4 flex-wrapper">
    <div class="form-group mx-sm-3 mb-2 text-right">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchInput" class="sr-only">Search</label>
            <input type="text" class="form-control" onkeyup="filterTable('movieTable')" id="searchInput"
                   placeholder="Cerca un film">
        </div>
    </div>
    <div th:if="${movies.isEmpty()}">
        <p>Nessun risultato trovato.</p>
    </div>
    <table id="movieTable" class="table mt-4" th:unless="${movies.isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th scope="col">Titolo</th>
            <th scope="col">Anno</th>
            <th scope="col">Regista</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}">Nome Artista</td>
            <td th:text="${movie.year}">Cognome Artista</td>
            <td th:text="${movie.director.name + ' '+ movie.director.surname}">Regista</td>
            <td>
                <a th:href="@{'/movie/'+ ${movie.id}}" class="btn btn-primary btn-sm mr-2">Visualizza</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/filterTable.js"></script>
</html>
