<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>Registrati</h3>
            <form th:action="@{/register}" method="POST" th:object="${user}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input class="form-control" type="text" placeholder="name" id="name" required
                           th:field="${user.name}"/>
                </div>
                <div class="form-group">
                    <label for="surname">Cognome</label>
                    <input class="form-control" type="text" id="surname" placeholder="surname" required
                           th:field="${user.surname}"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="text" placeholder="email" required
                           th:field="${user.email}"/>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" placeholder="username" required
                           th:field="${credentials.username}"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" placeholder="password" required
                           th:field="${credentials.password}"/>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-submit">Registrati</button>
                <br>
            </form>
        </div>
    </div>
</div>


</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
