<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrazione avvenuta con successo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
</head>

<header th:replace="~{fragments/header :: header}"></header>

<body>
<div class="container flex-wrapper">
    <div class="jumbotron">
        <h2 class="display-4">Registrazione avvenuta con successo!</h2>
        <p class="lead">Grazie per esserti registrato. Per effettuare il login, clicca sul pulsante sottostante.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
</div>
</body>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
